body {
    background: #f0ce69;
    width:fit-content;
    color: #367278;
    font-family: monospace;
}
main {
    position: relative;
}
header {
    position: absolute;
    top: 10px;
    left: 10px;
}
h1 {
    position: relative;
    top: 200px;
    left: 50px;
    font-size: 32px;
    color: #17b7c5;
}
h2 {
    position: relative;
    top: 150px;
    left: 50px;
    font-size: 56px;
    color: #14858F;
}
h3 {
    position: relative;
    top: 100px;
    left: 50px;
    font-size: 48px;
}
p {
    position:relative;
    top: 50px;
    left: 50px;
    font-size: 32px;
    width: 900px;
}
a {
    color: inherit;
}