body {
    background: #f0ce69;
    width: 100vw;
    height: 100vh;
    color: #367278;
    font-family: monospace;
}
.mainHeader {
    position: fixed;
    background: #f0ce69;
    width: 100vw;
    height: 120px;
}
.logo {
    padding: 10px 10px;
}
main {
    padding-left: 50px;
    padding-top: 100px;
    width: inherit;
    height: inherit;
}
h1 {
    font-size: 32px;
    color: #17b7c5;
}
h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 56px;
    color: #14858F;
}
h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    top: -120px;
    font-size: 48px;
}
p {
    margin-top: 0px;
    margin-bottom: 0px;
    top: -170px;
    font-size: 32px;
    width: 90vw;
}
a {
    color: inherit;
}